.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: auto;
  background-color: #2d4848;
  border-radius: 5px;
  max-width: 90%;
  width: 70%;

  .page__btn,
  .page__numbers,
  .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: calc(0.8rem + 0.3vw); /* Responsive font size */
    cursor: pointer;
  }

  .page__btn {
    color: var(--greyLight);
    pointer-events: none;

    &.active {
      color: var(--greyDark);
      pointer-events: initial;

      &:hover {
        color: var(--primary);
      }
    }
  }

  .page__numbers {
    width: calc(2rem + 0.5vw); /* Responsive width */
    height: calc(2rem + 0.5vw); /* Responsive height */
    border-radius: 0.4rem;

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: #ffffff;
      background: var(--primary);
      font-weight: 600;
      border: 1px solid var(--primary);
    }
  }

  .page__dots {
    width: calc(2rem + 0.5vw); /* Responsive width */
    height: calc(2rem + 0.5vw); /* Responsive height */
    color: var(--greyLight);
    cursor: initial;
  }
}
