// src/styles/variables.scss

$primary-color: #0d5d9c; // Main primary color
$secondary-color: #04346c; // Secondary color
$accent-color: #ffd500; // Accent color
$background-color: #ffffff; // Background color
$text-color: #04346c; // Text color
