// Import variables for color and other styling
@import "../../styles/variables";

.postList {
  // Align text to the left
  text-align: left;

  ul {
    // Remove default list styling
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      // Change cursor to pointer on hover
      cursor: pointer;
      border: 1px solid $secondary-color;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      transition: transform 0.3s, box-shadow 0.3s;
      overflow: hidden;
      box-sizing: border-box;

      // Transform and add shadow on hover
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      h3 {
        // Styles for the post title
        margin: 0;
        color: $text-color;
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        // Styles for the post body
        margin: 0;
        color: $text-color;
        font-size: 16px;
      }
    }
  }

  // Background color for the post list container
  background-color: $background-color;
}
