/* src/components/postList/PostList.module.scss */
@import "../../styles/variables";

.postList {
  text-align: left;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      border: 1px solid $secondary-color; // Using secondary-color variable
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
      transition: background-color 0.3s;
      overflow: hidden;
      box-sizing: border-box;
      background: $primary-color; // Using primary-color variable

      &:hover {
        background-color: $accent-color; // Using accent-color variable
      }

      h3 {
        margin: 0;
        color: $text-color; // Using text-color variable
      }

      p {
        margin: 5px 0 0;
        color: $text-color; // Using text-color variable
      }
    }
  }
}
