/* src/components/postDetails/PostDetails.module.scss */
@import "../../styles/variables";

.postDetails {
  text-align: left;
  padding: 20px;
  border: 1px solid $secondary-color; // Using secondary-color variable
  border-radius: 8px;
  margin-top: 20px;
  overflow: hidden;
  box-sizing: border-box;
  background: $background-color; // Using background-color variable

  h2 {
    margin-top: 0;
    color: $text-color; // Using text-color variable
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $secondary-color; // Using secondary-color variable
      padding: 10px 0;
      color: $text-color; // Using text-color variable

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
