/**
 * Styles for the PostDetails component.
 */

@import "../../styles/variables"; // Import variables

.postDetails {
  text-align: left; /* Text alignment */
  padding: 20px; /* Padding */
  border: 1px solid $secondary-color; /* Border */
  border-radius: 8px; /* Border radius */
  margin-top: 20px; /* Top margin */
  overflow: hidden; /* Overflow */
  box-sizing: border-box; /* Box sizing */
  background-color: $background-color; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */

  h2 {
    margin-top: 0; /* Reset top margin */
  }

  ul {
    list-style: none; /* Remove list style */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */

    li {
      border-bottom: 1px solid #eee; /* Border bottom */
      padding: 10px 0; /* Padding */

      &:last-child {
        border-bottom: none; /* Remove border bottom for last child */
      }
    }
  }
}
